/******************* すべてのページに共通の処理 ************************/

/* フッターを下に持っていく */
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main{
	flex: 1 0 auto;
}

/* ヘッダーのアイコンのサイズ */
#header-icon{
	height: 56px;
    margin-top: 4px;
    width: 56px;
}


/*********************** 各々のページの処理 ****************************/

